/*! _text-elements.scss | Bulkit | CSS Ninja */

/* ==========================================================================
Text elements Kit SCSS file
========================================================================== */

/***
TABLE OF CONTENTS
    0. CTAs
***/

/* ==========================================================================
0. Contact form
========================================================================== */

.cta-text {
    font-family: $font-main;
    font-size: 1.5rem;
    font-weight: 700;
}